body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table, td {
    border: 1px solid black;
}

table > tbody > tr:nth-child(odd) {
    background-color: lightgray;
}
