#ui-address-locator textarea[name=address]
{
    width: 100%;
}

.score-100
{
    background-color: #00ff00;
}
.score-high
{
    background-color: #B0FF00;
}
.score-medium-high
{
    background-color: #FFFF00;
}
.score-medium
{
    background-color: #FF7D16;
}
.score-low
{
    background-color: #ff0000;
}

.ui-address-locator-result:hover
{
    border: 1px solid red;
}

#ui-address-locator-results-toolbar 
{
    width: 100%;
    text-align: center;
}