#legend
{
    font-family: 'Arial Narrow', Sans-Serif;
    font-size: 10pt;
    border-collapse: collapse;
 
}

#legend thead *
{
    border-bottom: 1px solid #525252;
}

#legend th 
{
    padding-left: 5px;
    padding-right: 5px;
}

/* Change the background color of alternating rows */
.alternate-row 
{
    background-color: #eeeeee;
    color: #525252;
}

img[src="images/ajax-loader.gif"] 
{
    width: 16px;
    height: 16px;
}

img[src$="blank.gif"] 
{
    width: 1px;
    height: 1px;
}

.legend-sprite { background: url(../images/legend/LegendSprites.png) no-repeat top left; }
.legend-sprite-CityBoundaries{ background-position: 0 0; width: 22px; height: 22px; } 
.legend-sprite-FunctionalClassRouteIdentifier{ background-position: 0 -27px; width: 31px; height: 12px; } 
.legend-sprite-Interstate{ background-position: 0 -44px; width: 24px; height: 2px; } 
.legend-sprite-UrbanizedArea{ background-position: 0 -51px; width: 22px; height: 22px; } 
.legend-sprite-localAccess{ background-position: 0 -78px; width: 24px; height: 2px; } 
.legend-sprite-majorCollector{ background-position: 0 -85px; width: 24px; height: 2px; } 
.legend-sprite-minorArterial{ background-position: 0 -92px; width: 24px; height: 2px; } 
.legend-sprite-minorCollector{ background-position: 0 -99px; width: 24px; height: 2px; } 
.legend-sprite-otherFwyExpwy{ background-position: 0 -106px; width: 24px; height: 2px; } 
.legend-sprite-otherPrincipalArterial{ background-position: 0 -113px; width: 24px; height: 2px; } 
.legend-sprite-proposedMajorCollector{ background-position: 0 -120px; width: 20px; height: 2px; } 
.legend-sprite-proposedMinorArterial{ background-position: 0 -127px; width: 20px; height: 2px; } 
.legend-sprite-proposedMinorCollector{ background-position: 0 -134px; width: 20px; height: 2px; } 
.legend-sprite-proposedOtherFwyExpwy{ background-position: 0 -141px; width: 20px; height: 2px; } 
.legend-sprite-proposedOtherPrincipalArterial{ background-position: 0 -148px; width: 20px; height: 2px; } 

.fcid {
    color: red;
    font-weight: bold;
}


.hidden 
{
    display: none;
}