.ui-idenfity .table
{
    display: table;
}
.ui-identify .table > div 
{
    display: table-row;
}
.ui-identify .table > div > div
{
    display: table-cell;
    margin: 5px;
    padding: 0 5px;
}
.ui-identify .table > div > div > * 
{
    width: 100%;
}

.ui-identify #ui-identify-geometry-type-select optgroup optgroup 
{
    margin: 10px;
    border: 1px dotted gray;
    font-style: italic;
}

.ui-identify-toolbar
{
    text-align: center;
}

.ui-identify-hyperlink-list
{
    display: block;
    max-height: 70px;
    width: 100%;
    overflow: auto;
}

