html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
    color: Black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
#headerPane 
{
    padding: 0;
}
#mainContainer
{
    width: 100%;
    height: 100%;
    margin: 0;
}
#mapContentPane
{
    border: 1px solid #000;
    padding: 0;
    
    position: absolute;  top: 0px; right: 0px;
}
#map 
{
    width: 100%;
    height: 100%;
}
#legendPane 
{
    width: 305px;
}

#northArrow 
{
    position: absolute;
    bottom: 5px;
    right: 20px;
    z-index: 10;
    width: 43px;
    height: 52px;
}
#toolbar 
{
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 1000;
}
#toolbar > * 
{
    margin: 0;
}
#wsdotLogo 
{
    vertical-align: middle;
    padding: 9.6px;
}
h1 
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18pt;
    font-weight: 900;
    display: inline;
}
.topNav {
    color: #ffffff;
    background-color: #017359;
    padding-right: 50px
}
.topNav ul {
    text-align: right;
    padding: 0px;
    margin-top: 0px;
    font-size: 10px;
}
.topNav li {
    border-left-width: 1px;
    border-left-style: dotted;
    border-left-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline;
}
.topNav li:first-child {
    border: none;
}
        
.topNav a 
{
    color: White;
    text-decoration: none;
}
.topNav a:hover 
{
    text-decoration: underline;
}
        
h3,h4
{
    color: inherit; /* This is to support jQueryUI theming. */
    font-weight: bold;
    font-size: inherit;
}
        
#zoomInstructions li 
{
    font-size: 10pt;
    font-family: 'Arial Narrow', Sans-Serif;
}
        
#zoomInstructions ul > li
{
    list-style-type: circle;
}

#zoomControls label
{
    font-family: 'Arial Narrow', Sans-Serif
}

.zoomfullextIcon, .zoomprevIcon, .zoomnextIcon { background:url(../images/navigation/sprites.png) no-repeat top left; }

.zoomfullextIcon{ background-position: 0 0; width: 16px; height: 16px; } 
.zoomnextIcon{ background-position: -26px 0; width: 16px; height: 16px; } 
.zoomprevIcon{ background-position: -52px 0; width: 16px; height: 16px; } 

.helpIcon  
{
    background:url(../images/HelpIcon_16.png);
    background-position: 0 0; width: 16px; height: 16px;
}

.legend
{
    font-family: 'Arial Narrow', Sans-Serif;
    font-size: 10pt;
    border-collapse: collapse;
 
}

.legend thead *
{
    border-bottom: 1px solid black;
}

.legend th 
{
    padding-left: 5px;
    padding-right: 5px;
}
#fcLegend 
{
    text-align: center;
    
}

/* Left-align the fourth column. */
#fcLegend td:first-child + td + td + td { text-align: left; padding-right: 5px; }
#fcLegend td:first-child { padding-left: 5px; padding-right: 5px; }

/* Change the background color of alternating rows */
.alternate-row 
{
    background-color: #eeeeee;
    color: Black;
}

#fcLegend tr td:first-child
{
    background: black;
}

img[src="images/ajax-loader.gif"] 
{
    width: 16px;
    height: 16px;
}

img[src$="blank.gif"] 
{
    width: 1px;
    height: 1px;
}

.legend-sprite { background: url(../images/legend/LegendSprites.png) no-repeat top left; }
.legend-sprite-CityBoundaries{ background-position: 0 0; width: 22px; height: 22px; } 
.legend-sprite-Interstate{ background-position: -24px 0; width: 24px; height: 2px; } 
.legend-sprite-UrbanizedArea{ background-position: -50px 0; width: 22px; height: 22px; } 
.legend-sprite-localAccess{ background-position: -74px 0; width: 24px; height: 2px; } 
.legend-sprite-majorCollector{ background-position: -100px 0; width: 24px; height: 2px; } 
.legend-sprite-minorArterial{ background-position: -126px 0; width: 24px; height: 2px; } 
.legend-sprite-minorCollector{ background-position: -152px 0; width: 24px; height: 2px; } 
.legend-sprite-otherFwyExpwy{ background-position: -178px 0; width: 24px; height: 2px; } 
.legend-sprite-otherPrincipalArterial{ background-position: -204px 0; width: 24px; height: 2px; } 
.legend-sprite-proposedMajorCollector{ background-position: -230px 0; width: 20px; height: 2px; } 
.legend-sprite-proposedMinorArterial{ background-position: -252px 0; width: 20px; height: 2px; } 
.legend-sprite-proposedMinorCollector{ background-position: -274px 0; width: 20px; height: 2px; } 
.legend-sprite-proposedOtherFwyExpwy{ background-position: -296px 0; width: 20px; height: 2px; } 
.legend-sprite-proposedOtherPrincipalArterial{ background-position: -318px 0; width: 20px; height: 2px; } 

.hidden 
{
    display: none;
}

#map_infowindow table 
{
    border: 1px solid black;
    border-collapse: collapse;
}

#map_infowindow table td
{
    border: 1px solid black;
}

.ui-esri-layer-list h3 
{
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 3px;
}

.ui-widget-content table
{
    border: 1px solid black;
    font-size: 10pt;
}

.ui-widget-content td, .ui-widget-content th
{
    border: 1px solid black;
}