html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
    color: #525252;
    font-size: 10pt;
}

html, body, .ui-widget
{
    font-family: 'Segoe UI', Verdana, 'Arial', Helvetica, sans-serif;
}

.page-title 
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18pt;
    font-weight: 900;
    display: inline;
}

#headerPane > div.table 
{
    width: 100%;
}

div.table *
{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

div.table 
{
    display: table;
}

div.table > div 
{
    display: table-row;
}

div.table > div > * 
{
    display: table-cell;
}

div.table > div > * > h1 
{
    text-align: center;
}

.ui-tabs-nav 
{
    font-family: 'Segoe Condensed', 'Arial Narrow';
}

#headerPane 
{
    padding: 0;
}
#mainContainer
{
    width: 100%;
    height: 100%;
    margin: 0;
}
#mapContentPane
{
    border: 1px solid #000;
    padding: 0;
    
    position: absolute;  top: 0px; right: 0px;
}
#map 
{
    width: 100%;
    height: 100%;
}
#mapControlsPane 
{
    width: 305px;
}

#northArrow 
{
    position: absolute;
    bottom: 40px;
    left: 20px;
    z-index: 10;
    width: 43px;
    height: 52px;
}
#toolbar 
{
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 1000;
}
#toolbar > * 
{
    margin: 0;
}

#toolbar .esriPrint, #printButton 
{
    display: inline;
}

#linkTextBox 
{
    width: 100%;
}
#wsdotLogo 
{
    vertical-align: middle;
    padding: 9.6px;
}

.topNav {
    color: #ffffff;
    background-color: #017359;
    /* padding-right: 50px */
}
.topNav ul {
    text-align: right;
    padding: 0px;
    margin-top: 0px;
    font-size: 10px;
}
.topNav li {
    border-left-width: 1px;
    border-left-style: dotted;
    border-left-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline;
}
.topNav li:first-child {
    border: none;
}
        
.topNav a 
{
    color: White;
    text-decoration: none;
}
.topNav a:hover 
{
    text-decoration: underline;
}
        
h3,h4
{
    color: inherit; /* This is to support jQueryUI theming. */
    font-weight: bold;
    font-size: inherit;
}
        
#zoomInstructions li 
{
    font-size: 10pt;
    font-family: 'Arial Narrow', Sans-Serif;
}
        
#zoomInstructions ul > li
{
    list-style-type: circle;
}

#zoomControls label
{
    font-family: 'Arial Narrow', Sans-Serif
}

.zoomfullextIcon, .zoomprevIcon, .zoomnextIcon, .helpIcon, .linkIcon, .exportIcon, .starIcon, .sortIcon { background:url(../images/navigation/sprites.png) no-repeat top left; }

.helpIcon{ background-position: 0 0; width: 16px; height: 16px; } 
.linkIcon{ background-position: -21px 0; width: 18px; height: 7px; } 
.zoomfullextIcon{ background-position: -44px 0; width: 16px; height: 16px; } 
.zoomnextIcon{ background-position: -65px 0; width: 16px; height: 16px; } 
.zoomprevIcon{ background-position: -86px 0; width: 16px; height: 16px; } 
.exportIcon{ background-position: -107px 0; width: 16px; height: 16px; }
.starIcon{ background-position: -128px 0; width: 16px; height: 16px; }
.sortIcon{ background-position: -149px 0; width: 16px; height: 16px; }

#scaleText 
{
    position: absolute;
    bottom: 30px;
    left: 25px;
    z-index: 10;
    color: #666666;
    font-size: 11px;
    font-weight: bolder;
    text-shadow: 0px 0px 20px #ffffff;
    filter: dropshadow(color=#0091ff, offx=0, offy=0);
}

/* Change the background color of alternating rows */
.alternate-row 
{
    background-color: #eeeeee;
    color: #525252;
}

#fcLegend tr td:first-child
{
    background: #525252;
}

img[src="images/ajax-loader.gif"] 
{
    width: 16px;
    height: 16px;
}

img[src$="blank.gif"] 
{
    width: 1px;
    height: 1px;
}

.hidden 
{
    display: none;
}

#map_infowindow table 
{
    border: 1px solid #525252;
    border-collapse: collapse;
}

#map_infowindow table td
{
    border: 1px solid #525252;
}

.ui-esri-layer-list h3 
{
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 3px;
}



.ui-widget-content table
{
    border: 1px solid #525252;
    font-size: 10pt;
}

.ui-widget-content td, .ui-widget-content th
{
    border: 1px solid #525252;
}

.ui-esri-layer-list .ui-widget-content table, .ui-esri-layer-list .ui-widget-content td 
{
    border: none;
}

.metadata-list:before 
{
    content:"Metadata: ";
}
.metadata-list 
{
    display: block;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.metadata-list li 
{
    display: inline;
}

.metadata-list li:before 
{
    content:", ";
}

.metadata-list li:first-of-type:before
{
    content:"";
}

#loading-bar 
{
    width: 220px;
    height: 19px;
    
    position: absolute;
    bottom: 5px;
    left: 50%;
    z-index: 100;
}
#measureWidgetContainer 
{
    width: 250px;
    position: absolute;
    top: 40px;
    right: 5px;
}

.disclaimer a, a.disclaimer
{
    text-decoration: underline;
}

/*
.ui-copyrightInfo ul 
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.ui-copyrightInfo 
{
    font-size: 0.7em;
    font-family: 'Arial Narrow', sans-serif;
    padding: 0.5em;
    text-align: right;
    position: absolute;
    right: 1em;
    bottom: 1em;
    z-index: 200;
    background-color: White;
    background-color: RGBA(255,255,255,0.5);
    text-shadow: 0px 0px 20px #ffffff;
    filter: dropshadow(color=#0091ff, offx=0, offy=0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
*/

.esriAttributionItem, .esriAttributionLastItem
{
    background-color: White;
    background-color: RGBA(255,255,255,0.7);
}

#zoomControls .tool-header 
{
    text-decoration: underline;
    margin-bottom: 0.1em;
}

#zoomToXY 
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
}
#zoomToXY input[type=number]
{
    width: 90%;
}

#zoomToXY button
{
    vertical-align: top;
}

#zoomToXY label
{
    padding-right: 0.5em
}

#airspaceCalculator label.error 
{
    font-size: 0.7em;
    color: Red;
    display: block
}

#airspaceCalculator input.error 
{
    border-color: Red;
}

.placeholder  
{
    color: #aaa; 
}

abbr 
{
    text-decoration: underline;
}

.tabLabel, ui-tabs-nav 
{
    font-family: 'Segoe Condensed', 'Arial Narrow', 'Nimbus Sans', 'Lucida Sans', sans-serif;
}

.tabLabel 
{
    font-size: 0.8em;
}

.ui-disclaimer 
{
    font-size: 0.5em;
}

.ui-faa-far-77 label
{
    display: block;
}

.ui-printer-layout-options > input
{
    display: block;
    width: 100%;
}