.ui-esri-layer-list ul
{
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    list-style-type: none;
    list-style-position: outside;
}

.layer-toolbar {
    padding-left: 1em;
}

.layer-toolbar button {
    padding: 0;
    margin: 0;
    font-size: 0.6em
}

.layer-toolbar div:hover, .layer-toolbar a:hover
{
    background-color: #ccc;
}

li.outOfScale, *.outOfScale a, div.outOfScale label
{
    color: #ccc;
}

.ui-esri-layer-list .map-service-table 
{
    display: table;
}

.ui-esri-layer-list .map-service-row
{
    display: table-row;
}

.ui-esri-layer-list .map-service-row > * 
{
    display: table-cell;
}