/*
.legend 
{
    border: 1px solid black;
    
    -moz-border-radius: 5px;
    border-radius: 5px; 

    -webkit-box-shadow: 5px 5px 5px #354d36;
    -moz-box-shadow: 5px 5px 5px #354d36;
    box-shadow: 5px 5px 5px #354d36; 
}
*/

.legend table
{
    font-family: 'Arial Narrow', Sans-Serif;
    text-align: center;
    font-size: 10pt;
    border-collapse: collapse;
 
}

.legend thead *
{
    border-bottom: 1px solid black;
}

.legend th 
{
    padding-left: 5px;
    padding-right: 5px;
}
/* Left-align the fourth column. */
.legend td:first-child + td + td + td { text-align: left; padding-right: 5px; }
.legend td:first-child { padding-left: 5px; padding-right: 5px; }

/* Change the background color of alternating rows */
.legend tbody tr:first-child + tr,
.legend tbody tr:first-child + tr + tr + tr,
.legend tbody tr:first-child + tr + tr + tr + tr + tr,
.legend tbody tr:first-child + tr + tr + tr + tr + tr + tr + tr,
.legend tbody tr:first-child + tr + tr + tr + tr + tr + tr + tr + tr + tr,
.legend tbody tr:first-child + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr
{
     background: #eeeeee; 
}

tr td:first-child
{
    background: #999999; /* old browsers */

    background: -moz-linear-gradient(left, #999999 0%, #EEE 100%); /* firefox */

    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#999999), color-stop(100%,#EEE)); /* webkit */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#EEE',GradientType=1 ); /* ie */
}