
.legend li 
{
    margin-left: 10px;
    font-family: 'Arial Narrow';
    font-size: 10pt;
}
.legend ul 
{
    margin-top: 0;
}
.legend > div 
{
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid black;
}
.proposedOtherPrincipalArterial, .proposedMinorArterial, .proposedMajorCollector, .proposedMinorCollector, .proposedOtherFwyExpwy
{
    font-style: italic;
}
.interstate {list-style-image: url('../images/legend/Interstate.png')}
.otherPrincipalArterial {list-style-image: url('../images/legend/otherPrincipalArterial.png')}
.minorArterial {list-style-image: url('../images/legend/minorArterial.png')}
.majorCollector {list-style-image: url('../images/legend/majorCollector.png')}
.minorCollector {list-style-image: url('../images/legend/minorCollector.png')}
.proposedOtherPrincipalArterial {list-style-image: url('../images/legend/proposedOtherPrincipalArterial.png')}
.proposedMinorArterial {list-style-image: url('../images/legend/proposedMinorArterial.png')}
.proposedMajorCollector {list-style-image: url('../images/legend/proposedMajorCollector.png')}
.proposedMinorCollector {list-style-image: url('../images/legend/proposedMinorCollector.png')}
.otherFwyExpwy {list-style-image: url('../images/legend/otherFwyExpwy.png')}
.proposedOtherFwyExpwy {list-style-image: url('../images/legend/proposedOtherFwyExpwy.png')}