button[id='saveButton'], span[widgetid='saveButton'], span[widgetid='sortButton'] {
    display: none;
}

.ui-layer-list .basemap-group {
    display: none;
}

.esriLegendService > table:first-child {
    display: none;
}