#jobsList:empty:after {
    font-style: italic;
    content: 'No current jobs';
}

li > progress {
    display: none;
}

.esriJobExecuting > progress {
    display: inline-block;
}

a:not([href]) {
    pointer-events: none;
    cursor: wait;
}

li > .error {
    display: none;
}

li.error > .error {
    display: block;
}

.message-list:empty {
    display: none;
}

form :invalid {
    border: 2px solid red;
}