ul:empty:after {
    font-style: italic;
    content: 'No current jobs';
}

li > progress {
    display: none;
}

.loading > progress {
    display: inline-block;
}

.loading > a {
    display: none
}

li > .error {
    display: none;
}

li.error > .error {
    display: block;
}